.body-section {
    margin: 70px 0;
    min-width: 100%;
}

.cart-empty {
    font-weight: 700;
}

.cart-item-img {
    height: 64px;
    width: 64x;
}

.cart-item-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
}

.cart-item-contain {
    font-size: 14px;
    color: rgba(0,0,0,0.75);
    text-align: center;
    margin: 0;
}

/* Quantity */
.quantity-input {
    width: 80px;
    margin-left: 14px;
}

.btn-quantity {
    display: flex;
    flex-direction: column-reverse;
}

.quantity-number {
    border-radius: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
}

.quantity-count {
    float: left;
    width: 25px;
    height: 25px;
    font-size: 13px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 0;    
    padding: 0
}

.quantity-count:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.cart-subtotal {
    padding: 0;
}

.cart-subtotal th,
.cart-subtotal td {
    padding: 18px;
    border: 0;
}

.cart-subtotal th {
    font-size: 16px;
    font-weight: 600;
}

.cart-subtotal td {
    font-size: 16px;
    text-align: center;
    position: relative;
}

.cart-subtotal span {
    position: absolute;
    font-size: 12px;
}

.btn-cart-summary {
    padding: 10px 0;
    width: 90%;
    margin-bottom: 6px;
}

.border-padding {
    padding: 14px;
}