.body-section {
    margin: 70px 0;
    min-width: 100%;
}

.product-empty {
    font-weight: 700;
}

.product-item-img {
    height: 54px;
    width: 54x;
}

.product-item-contain {
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
    margin: 0;
}

.dataTables_length,
.dataTables_filter {
    padding-bottom: 10px;
}

.dataTables_info,
.dataTables_paginate {
    margin-top: 20px;
}

.dataTables_filter input {
    border: 1px solid var(--primary-color)  !important;
}